
BODY {
    font-family: Helvetica, Arial;
    color:       #FFFFFF;
    margin:      0px;
    font-size:   10pt;
}

LI {
    font-size: 10pt;
    width: 80%;
}

P {
    font-size: 10pt;
}

A {
    font-size: 10pt;
    color:     #FFFFFF;
}

A:hover {
    color: #000000;
}

#content {
    padding-top:   0px;
    padding-left:  30px;
    padding-right: 20px;
}

.description {
    font-size: 12pt;
}

.description a {
    font-size: 12pt;
}

.root_list {
    list-style: none;
    margin-left: -40;
    line-height: 2.5em;
}

.sub_list {
    list-style:  circle;
    margin-left: 0;
    line-height: 1em;
    display:     block;
}

.list_header {
    font-size:       18pt;
    font-weight:     bold;
    color:           #FFFFFF;
    text-decoration: none;
}

.list_sub_header {
    list-style:  none;
    font-size:   14pt;
    font-weight: bold;
    line-height: 1.5em;    
    color:       #FFFFFF;
}

#line {
    height: 1px;
    background: #FFFFFF;
}

.copyright {
    font-size: 9pt;
    color:     #AB9974;
    text-align: center;
}

