[% WRAPPER 'wrapper/root.tt' %]
    <h1>[% loc('moose') %]</h1>
    <div class="nav">
        [% INCLUDE 'shared/nav.tt' %]
    </div>
    <div class="content">
        [% content %]
    </div>
    <div class="footer">
        [% INCLUDE 'shared/footer.tt' %]
    </div>
[% END %]