[% WRAPPER 'wrapper/root.tt' %]

    <p>[% loc('about body') %]</p>

    <h3>[% loc('about new to moose header') %]</h3>
    <p>[% loc('about new to moose body') %]</p>

    <h3>[% loc('about company list header') %]</h3>
    <p>[% loc('about company list body') %]</p>

    <p>
        <ul>
            [% FOREACH company IN current_page.data.companies %]
                <li><a href="[% company.url %]">[% company.name %]</a></li>
            [% END %]
        </ul>
    </p>

[% END %]