[% WRAPPER 'wrapper/root.tt' %]
    <h1 class="home">[% loc('moose') %]</h1>
    <h2>[% loc('moose subtitle') %]</h2>
    [% INCLUDE 'shared/nav.tt' %]
    <div class="home_content">
        <p>[% loc('home body') %]</p>
    </div>
    <br/>
    <div class="home_footer">
        [% INCLUDE 'shared/footer.tt' %]
    </div>
[% END %]