<div class="nav">
    <table cellspacing="0" cellpadding="0" border="0" class="menu"><tr>
        [% FOREACH page IN pages %]
            [% IF page.name == current_page.name %]
                <td class="active">[% loc('nav ' _ page.name) %]</td>
            [% ELSE %]
                <td class="inactive"><a href="[% page.outfile %]">[% loc('nav ' _ page.name) %]</a></td>
            [% END %]
        [% END %]
    </tr></table>
</div>