[% WRAPPER 'wrapper/sub_page.tt' %]

    <h2>[% loc('presentations header') %]</h2>

    <ul>
    [% FOREACH item IN current_page.data %]
        <li>
            [% loc(item.year) %]
            <ul>
                [% FOREACH presentation IN item.presentations %]
                    <li><a href="[% presentation.url %]">[% presentation.title %]</a></li>
                [% END %]
            </ul>
        </li>
    [% END %]
    </ul>

[% END %]